@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-mono), Arial, Helvetica;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

b{
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-inter);
  font-weight: 800;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202020; /* Cor do fundo da página */
}

::-webkit-scrollbar-thumb {
  background: #051808;
  border-radius: 10px;
  border: 2px solid #202020; /* Cria um respiro em volta da barra */
}

::-webkit-scrollbar-thumb:hover {
  background: #13e6b1; 
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #06f1be #202020;
}
